.gutenberg {
	.caxton-layout-picker {
		border: 1px solid #aaa;
		padding: 16px;
		grid-column: 1/-1;
		.caxton-layout-preview {
			display: grid;
			grid-template-columns: repeat(12, 12px);
			grid-gap: 5px;
			padding: 4px;
			border: 3px solid #eee;
			background: #eee;
			margin: 0 16px 16px 0;
			float: left;
			grid-auto-rows: 25px;
			cursor: pointer;
			opacity: .88;
			&:hover {
				border-color: #aaa;
				opacity: 1;
			}
			.caxton-layout-preview-section {
				background: #999;
			}
		}
	}

	.caxton-columns {
		grid-template-columns: 100%;
		> .editor-inner-blocks > .editor-block-list__layout {
			display: grid;
			grid: inherit;
			> .editor-block-list__block {
				margin: 0;
				padding: 0;
			}
		}
		.caxton-section-block {
			grid-template-columns: 100%;
			.editor-block-list__layout {
				margin: 0;
			}
		}

			@for $i from 1 to 6 {
			&.caxton-#{$i}-columns > .editor-inner-blocks > .editor-block-list__layout {
				grid-template-columns: repeat($i, 1fr);
			}
		}
	}
}

.caxton-grid-block {
	> .editor-inner-blocks {
		grid: inherit;
		grid-gap: inherit;
		grid-column: 1 / -1;
		> .editor-block-list__layout {
			grid: inherit;
			grid-gap: inherit;
			grid-column: 1/-1;
			display: grid;
			margin: 0;
		}
		.editor-block-list__block {
			margin: 0;
			max-width: none;
		}
	}
	.editor-inner-blocks + .editor-inserter {
		position: absolute;
		bottom: 0;
		right: 0;
		svg {
			fill: #e74c3c;
		}
		button {
			border-radius: 50%;
		}
	}
	.editor-block-list__block:not(:last-child) .editor-inner-blocks + .editor-inserter {
		display: none;
	}

}

[data-caxton-section] {
	justify-content: stretch;
	align-items: stretch;
	transition: all .7s;
	background: rgba(0,0,0,0.025);
	box-shadow: inset 0 0 7px 2px rgba(0,0,0,0.05);
	&.is-selected-parent,
	&.is-selected {
		background: rgba(0,0,0,0);
		box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.07);
	}
	> .editor-block-list__block-edit {
		height: calc( 100% - 64px );
		[data-block] {
			height: 100%;
			box-sizing: border-box;
			> div {
				height: 100%;
				box-sizing: border-box;
			}
		}
	}
}

.edit-post-visual-editor .editor-block-list__block[data-type='caxton/section'] > .editor-block-list__block-edit {
	margin: 0;
	height: 100%;
}
