.absolute--fill {
	position: absolute;
}

.br-i {
	border-radius: inherit;
	> .absolute--fill {
		border-radius: inherit;
	}
}

.fixed {
	position: fixed;
}

a.no-underline {
	text-decoration: none !important;
}

.nowrap {
	white-space: nowrap;
}

.vw-100, .vw-100-bg {
	width: 100vw;
	margin-left: calc( -50vw + 50% ) !important;
	margin-right: calc( -50vw + 50% ) !important;
	max-width: none !important;
}

.vw-100-bg {
	padding-right: calc( 50vw - 50% );
	padding-left: calc( 50vw - 50% );
}

.shadow {
	box-shadow: 0 0 0.16em #000;
}

.glow {
	box-shadow: 0 0 0.16em #fff;
}

.text-shadow {
	text-shadow: 0 0 0.16em #000;
}

.text-glow {
	text-shadow: 0 0 0.16em #fff;
}

.center-mid-children {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.min-h4 { min-height: $height-4; }
.min-h5 { min-height: $height-5; }

.min-h-6{ min-height: 25rem; }
.min-h-7{ min-height: 32rem; }
.min-h-8{ min-height: 40rem; }
.min-h-9{ min-height: 50rem; }
.min-vh-100 { min-height: 100vh; }

.tj { text-align:justify; }

.maa{ margin: auto; }
.mla{ margin-left: auto; }
.mra{ margin-right: auto; }
.mba{ margin-bottom: auto; }
.mta{ margin-top: auto; }
.mva{ margin-top: auto; margin-bottom: auto; }
.mha{ margin-left: auto; margin-right: auto; }

.fas.fab {
	font-family: Font Awesome\ 5 Brands;
	font-weight: 400;
}

.caxton-icon.fas {
	width: 1.25em;
	line-height: 1.25;
	text-align: center;
	box-sizing: content-box;
}

.caxton-hide-image img {
	display: none !important;
}

.caxton-flex-row-reverse .flex {
	flex-direction: row-reverse !important;
}

.blur, .blur-children > * {
	-webkit-filter: blur(7px);
	filter: blur(7px);
}

.blur-children .absolute--fill {
	top: -7px;
	left: -7px;
	right: -7px;
	bottom: -7px;
}

.blur-children {
	overflow: hidden;
}

.flip {
	transform: scale( -1, -1 );
}

.flip-h {
	transform: scale( -1, 1 );
}

.flip-v {
	transform: scale( 1, -1 );
}

.toggle-close,
.toggle-close-9999,
.toggle-open,
.toggle-open-9999 {
	overflow: hidden;
	transition: max-height .5s;
	max-height: 0;
}
.toggle-close:not(.toggle),
.toggle-close-9999:not(.toggle) {
	max-height: 1920px;
}

.toggle-open:not(.toggle),
.toggle-open-9999:not(.toggle) {
	border-top-width: 0;
	border-bottom-width: 0;
	padding: 0;
	margin: 0;
	max-height: 0;
}

.toggle-close-9999:not(.toggle) {
	max-height: 9999px;
}

.toggle-show:not(.toggle),
.toggle-dib:not(.toggle) {
	display: none !important;
}

.toggle {
	.toggle-hide {
		display: none;
	}
	.toggle-show {
		display: block !important;
	}
	.toggle-dib {
		display: inline-block !important;
	}
	.toggle-close, .toggle-close-9999 {
		max-height: 0;
		padding: 0;
		margin: 0;
	}
	.toggle-open {
		max-height: 1920px;
	}
	.toggle-open-9999 {
		max-height: 9999px;
	}
}

.bg-black-90 {background-color: rgba(0,0,0,.90); }
.bg-black-80 {background-color: rgba(0,0,0,.80); }
.bg-black-70 {background-color: rgba(0,0,0,.70); }
.bg-black-60 {background-color: rgba(0,0,0,.60); }
.bg-black-50 {background-color: rgba(0,0,0,.50); }
.bg-black-40 {background-color: rgba(0,0,0,.40); }
.bg-black-30 {background-color: rgba(0,0,0,.30); }
.bg-black-20 {background-color: rgba(0,0,0,.20); }
.bg-black-10 {background-color: rgba(0,0,0,.10); }
.bg-black-05 {background-color: rgba(0,0,0,.05); }
.bg-black {background-color: #000; }

.bg-white-90 {background-color: rgba(255,255,255,.90); }
.bg-white-80 {background-color: rgba(255,255,255,.80); }
.bg-white-70 {background-color: rgba(255,255,255,.70); }
.bg-white-60 {background-color: rgba(255,255,255,.60); }
.bg-white-50 {background-color: rgba(255,255,255,.50); }
.bg-white-40 {background-color: rgba(255,255,255,.40); }
.bg-white-30 {background-color: rgba(255,255,255,.30); }
.bg-white-20 {background-color: rgba(255,255,255,.20); }
.bg-white-10 {background-color: rgba(255,255,255,.10); }
.bg-white {background-color: #fff; }

.white-80 {
	color: rgba(255,255,255,.8);
}