/**
 * Plugin front end styles
 * @package Caxton
 */
.caxton-notification {
	padding: 50px;
	text-align: center;
	max-width: 300px;
	margin: auto;
}
.caxton-grid {
	.grid-image h3.grid-title {
		font-size: 16px;
	}
	p {
		font-size: 14px;
	}
}

div, h1, h2, h3, h4, h5, h6, p, header, footer, section {
	> span[contentEditable] {
		display: block;
	}
}