/* FlexSlider Styling */
@font-face {
	font-family: flexslider-icon;
	src: url(fonts/flexslider-icon.eot);
	src: url(fonts/flexslider-icon.eot?#iefix) format("embedded-opentype"), url(fonts/flexslider-icon.woff) format("woff"), url(fonts/flexslider-icon.ttf) format("truetype"), url(fonts/flexslider-icon.svg#flexslider-icon) format("svg");
	font-weight: 400;
	font-style: normal;
}

.caxton-slider {
	margin-bottom: 1em;
	max-width: 100vw;
	transition: opacity 0.5s;
	position: relative;
	overflow: hidden;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	.flex-container a:hover, .flex-slider a:hover {
		outline: 0;
	}
	.flex-control-nav, .flex-direction-nav {
		margin: 0;
		padding: 0;
		list-style: none;
		display: block;
	}
	ul, ol {
		margin: 0;
		padding: 0;
		list-style: none;
		display: block;
		> li {
			display: block;
			margin: 0;
			padding: 0;
		}
	}

	.slides {
		min-height: inherit;
		display: flex;
		li {
			min-height: inherit;
			position: relative;
			overflow: hidden;
			display: flex !important;
			padding: 7vh 0 9vh;
			align-items: center;
			justify-content: center;
			background: #fff center/cover;
		}
		p, h1, h2, h3, h4, h5, h6, a:not(.alt) {
			color: inherit;
			font-family: inherit;
		}
		p, a {
			font-size:inherit;
		}
		a {
			opacity: .9;
		}
		.flex-caption {
			position: relative;
			z-index: 1;
			padding: 20px 25px;
			min-width: calc( 25% + 200px );
			max-width: calc( 100% - 40px );
			&.flex-caption-overlay {
				background: rgba(0,0,0,0.35);
				//box-shadow: 0 0 5px 5px rgba(0,0,0,0.35);
			}
			&.header-slide-text {
				text-align: center;
			}
			&.entry-title {
				font-size: 25px;
				line-height: 40px;
				opacity: 1!important;
			}
			&.entry-excerpt {
				top: 70px;
			}
			> p:last-child {
				margin: 0;
			}
		}
		li {
			img.wp-post-image, .slide-img {
				width: 100%;
				margin: 0;
				padding: 0;
				transition: transform 0.5s;
			}
			.slide-img {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background: center/cover;
			}
			&:after {
				content: '';
				display: block;
				clear: both;
			}
		}
	}
	.flex-pauseplay span {
		text-transform: capitalize;
	}
	.flex-direction-nav a, .flex-pauseplay a {
		text-decoration: none;
		display: block;
		width: 50px;
		height: 50px;
		line-height: 50px;
		border: none;
		margin: 0;
		position: absolute;
		bottom: 50%;
		z-index: 10;
		overflow: hidden;
		opacity: 0;
		cursor: pointer;
		transition: all .3s ease-in-out;
		text-align: center;
	}
}

.ppb-panels {
	#TB_secondLine, .tb-close-icon, #TB_prev a, #TB_next a {
		color: #fff;
		text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5), 1px -1px 1px rgba(0, 0, 0, 0.5);
	}
}

.caxton-slider {
	.flex-direction-nav a, .flex-pauseplay a {
		color: inherit;
		text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.5), 1px -1px 1px rgba(0, 0, 0, 0.5);
	}
	&:hover a {
		opacity: 1;
	}
	.flex-direction-nav a {
		transition: all .3s ease-in-out;
	}
}

.caxton-slider {
	.flex-direction-nav a:before {
		font-family: flexslider-icon;
		font-size: 44px;
		display: inline-block;
		content: '\f001';
		opacity: 0.5;
	}
	.flex-pauseplay a:before {
		font-family: flexslider-icon;
		font-size: 44px;
		display: inline-block;
		opacity: 0.5;
		content: '\f004';
	}
	.flex-direction-nav {
		a.flex-next:before {
			content: '\f002';
		}
		.flex-prev {
			left: 0;
		}
		.flex-next {
			right: 0;
		}
		.flex-disabled {
			opacity: 0 !important;
			filter: alpha(opacity = 0);
			cursor: default;
			z-index: -1;
		}
	}
	.flex-pauseplay a {
		right: 60px;
		&.flex-play:before {
			content: '\f003';
		}
	}
	.flex-control-nav {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;
		width: 100%;
		text-align: center;
		transition: all .3s ease-in-out;
		height: 50px;
		z-index: 9;
		li {
			margin: 16px;
			display: inline-block;
			zoom: 1;
		}
		a {
			width: 16px;
			height: 16px;
			display: block;
			box-shadow: 0 0 3px rgba(0,0,0,0.25);
			border: 2px solid rgba(255,255,255,0.7);
			cursor: pointer;
			text-indent: -9999px;
			border-radius: 50%;
			&.flex-active {
				background: rgba(255,255,255,0.88);
				cursor: default;
			}
		}
		li a {
			&:hover {
				background: rgba(255,255,255,0.5);
			}
		}
	}
	.flex-control-thumbs {
		margin: 5px 0 0;
		position: static;
		overflow: hidden;
		li {
			width: 25%;
			float: left;
			margin: 0;
		}
		img {
			width: 100%;
			height: auto;
			display: block;
			opacity: .7;
			cursor: pointer;
			-moz-user-select: none;
			transition: all 1s ease;
			&:hover {
				opacity: 1;
			}
		}
		.flex-active {
			opacity: 1;
			cursor: default;
		}
	}
}

.caxton-carousel {
	.slides li {
		flex-direction: column;
		align-items: stretch;
	}
}